<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stats</title>
    <script src="../jquery.min.js"></script>

</head>
<body>
<script>
function get_fb(){
    var feedback = $.ajax({
        type: "GET",
        url: "stat",
        async: false
    }).complete(function(){
        setTimeout(function(){get_fb();}, 10000);
    }).responseText;
    $('#feedback-box').html(feedback);
}
setInterval(get_fb, 10000);

function take_pic(s = false){
    var u = "";
    if (s){
        u="take_pic_with_stat";
    }else{
        u="take_pic";
    }
    var kep = $.ajax({
            type: "GET",
            url: u,
            async: false
        }).complete(function(){
        }).responseText;
        $('#kep-box').html(kep);
}

</script>
<div id="feedback-box">
    Betöltés Folyamatban...
</div>

<div id="kep-box">
</div>

<button onclick="take_pic()">Email kérek a jelenlegi képkockáról</button>
<button onclick="take_pic(true)">Email kérek a jelenlegi képkockáról-statisztikával</button>


</body>
</html>